#BOL, #BBL {
    position: relative; /* Needed for positioning the pseudo-element */
}

#BOL::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1.5px;
    background-color: white;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

#BOL:hover::after {
    width: 100%;
}
#BBL::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1.5px;
    background-color: white;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

#BBL:hover::after {
    width: 100%;
}

.border, p {
    cursor: default;
}
#FAQ {
    cursor: pointer;
}

#animated_Title {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#animated_Sub, #BOL_Title, #BBL_Title, #BL_Sub {
    opacity: 0;
}

#BOL_Title, #BBL_Title {
    animation: fadeIn 1s .5s forwards;
}
#BL_Sub {
    animation: fadeIn 1s 1.5s forwards;
}

.fadeInDelay {
    animation: fadeIn 1s 10s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.square > button, .button {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.square > button::before, .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #49A4AE;
    transition: left 0.3s, background-color 0.3s, color 0.3s;
}

.square > button:hover, .button:hover {
    color: white;
}

.square > button:hover::before, .button:hover::before {
    left: 0;
    background-color: #49A4AE;
    color: white;
}


.corner-radius-1 {
    border-radius: 50% 45% 50% 40%;
    animation: radius-1 50s forwards infinite;
}
.corner-radius-2 {
    border-radius: 40% 30% 50% 50%;
    animation: radius-2 50s infinite;
}


@keyframes radius-1 {
    10% {
        border-radius: 50% 45% 50% 40%;
    }
    20% {
        border-radius: 55% 40% 55% 45%;
    }
    30% {
        border-radius: 50% 45% 50% 50%;
    }
    40% {
        border-radius: 60% 50% 45% 55%;
    }
    50% {
        border-radius: 50% 45% 50% 40%;
    }
    60% {
        border-radius: 55% 40% 55% 45%;
    }
    70% {
        border-radius: 50% 45% 50% 50%;
    }
    80% {
        border-radius: 50% 45% 50% 50%;
    }
    90% {
        border-radius: 60% 50% 45% 55%;
    }
    100% {
        border-radius: 50% 45% 50% 40%;
    }
}

@keyframes radius-2 {
    10% {
        border-radius: 40% 30% 50% 50%;
    }
    20% {
        border-radius: 45% 35% 45% 55%;
    }
    30% {
        border-radius: 50% 45% 40 60%;
    }
    40% {
        border-radius: 45% 35% 45 55%;
    }
    50% {
        border-radius: 40% 30% 50% 50%;
    }
    60% {
        border-radius: 45% 35% 45% 55%;
    }
    70% {
        border-radius: 50% 45% 40 60%;
    }
    80% {
        border-radius: 45% 35% 45 55%;
    }
    90% {
        border-radius: 45% 35% 45% 55%;
    }
    100% {
        border-radius: 40% 30% 50% 50%;
    }
}
