body {
    background-color: #F5F5F5;
    margin: 0;
    max-width: 100%;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: #49A4AE;
    z-index: 3;
}


#LogoLeft {
    height: 50px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
}

#link_Container {
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
    width: 95%;
}

.hyperLink,
.border {
    float: right;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 100vw;
}

#header {
    position: relative;
    width: 100vw;
    height: 30vw;
    opacity: 1;
}
#header_Container {
    position: relative;
    top: 6vw;
    left: 2.5vw;
}

#foreground_Img {
    top: 0;
    left: 0;
    width: 100vw;
    height: 30vw;
    margin-top: 70px;
    position: absolute;
    background-size: cover;
    background-color: #49A4AE;
    opacity: 0.3;
    z-index: 2;
}


.main_Container {
    display: flex;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    justify-content: center;
}

.title {
    color: white;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    z-index: 4;
}
.sub {
    color: white;
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0;
    z-index: 4;
}

.text {
    color: #49A4AE;
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    word-break: n;
    margin: 0;
    z-index: 4;
}

.information {
    width: 75%;
}


#FAQ {
    background-image: url("../img/FAQ.svg");
    background-size: 70px;
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    position: fixed;
    bottom: 15px;
    right: 25px;
}
@media only screen and (max-width: 800px) {
    #header {
        height: 50vw;
        text-align: center;
    }
    #header_Container {
        top: 11vw;
    }
    #foreground_Img {
       
        height: 50vw;
        
    }
    .title {
      
        font-size: 7.5vw;
      
    }
    .sub {
        font-size: 4vw;
    }
      

  }