#header {
    background-image: url("../img/headers/Gustavo_Fring.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
}


#animated_Sub {
    opacity: 0;
}
.main_Container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center; 
    align-items: center; 
    margin-top: 0;
    background-color: #b6e4e8;
}

.main_Container > p {
    width: 10%;
    margin-top: 6vw;
    flex-wrap: wrap-reverse;
}

.text_Container {
    display: flex;
    flex-direction: column;
    width: 40vw;
}
.explanation {
    margin-top: 4vw;
    margin-right: 11vw;
    width: 40vw;
    height: 25vw;
    border-radius: 25px;
    background-color: white;
}

.divider {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.divider svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 182px;
}



.divider {
    fill: #B6E4E8;
}

.div_Container {
    margin-top: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}


.border-1px {
    border: 1px solid #49A4AE;
}

.corner-radius {
    border-radius: 30px;
}

.square {
    width: 400px;
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.square>button {
    width: 235px;
    height: 26px;
}

.flex {
    width: 70%;
    margin-left: 18%;
}

.one {
    margin-right: 75px;
}
@media only screen and (max-width: 800px) {
    #header {
        background-image: url("../img/headers/Gustavo_Fring_R.jpg");
    }
    .divider svg {
        width: calc(158% + 1.3px);
        height: 102px;
    }
  }
